.InnerWrapper {
  width: 100%;
  padding: 15vh 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6vh;
  height: 100%;
  align-items: center;
  min-height: calc(100dvh - 60px);
}

.InnerWrapper > .content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  font-family: "Bella";
  color: #ffffff;
}

.InnerWrapper > div > p {
  font-size: 5rem;
  line-height: 1.25;
}
.InnerWrapper > div > p > span {
  color: #fd2e35;
  text-wrap: nowrap;
}
.InnerWrapper > .experiences {
  display: flex;
  gap: 6vw;
  align-items: center;
  text-align: center;
  font-family: "Gilroy";
  color: rgb(255, 255, 255);
}

.InnerWrapper > .experiences > div > h1 {
  color: #fd2e35;
  font-size: 5rem !important;
}
@media screen and (max-width: 1580px) {
  .InnerWrapper > div > p {
    font-size: 4.5rem;
    line-height: 1.25;
    /* letter-spacing: 0.8rem; */
  }
}

@media screen and (max-width: 1250px) {
  .InnerWrapper > div > p {
    font-size: 4rem;
    line-height: 1.25;
    /* letter-spacing: 0.5rem; */
  }
}
@media screen and (max-width: 670px) {
  .InnerWrapper > div > p {
    font-size: 3rem;
  }
  .InnerWrapper > .experiences > div > h1 {
    font-size: 3.5rem !important;
  }
}
@media screen and (max-width: 480px) {
  .InnerWrapper {
    padding: 10vh 8%;
  }
  .InnerWrapper > div > p {
    font-size: 2rem;
  }
  .InnerWrapper > .experiences > div > h1 {
    font-size: 2rem !important;
  }
}
