.experienceWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 30px;
  height: fit-content;
  margin-bottom: 50px;
  padding: 0px 10%;
}
.experienceHeading {
  display: flex;
  flex-direction: column;

  gap: 10px;
  text-transform: uppercase;
}

.experienceHeading > h2 {
  font-size: 30px;
}

.ExperienceContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.ExperienceContentWrapper > .IndividualExperiences {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.ExperienceContentWrapper > .IndividualExperiences> h2{
  color: #4AAEF6;
}

.ExperienceContentWrapper > .IndividualExperiences > div {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.ExperienceContentWrapper > .IndividualExperiences > div >p{
  min-width: 165px;

  display: flex;
  justify-content: end;
}
