.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: fit-content;
  margin-bottom: 50px;
  margin-top: 50px;
}
.contact-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.contact-header > h5 {
  font-size: 20px;
}
.contact-header > h2 {
  font-size: 30px;
}

.contact_container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.contact_options {
  display: flex;
  gap: 1.2rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.contact_option {
  background: black;
  padding: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
  border-radius: 20px;
  width: 250px;
}

.contact_option:hover {
  background: transparent;
  border-color: #4db5ff;
}

.contact_option_icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact_option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
  color: #4db5ff;
}

/******************* FORM ***********************/

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 70%;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid #4db5ff;
  resize: none;
  color: white;
}
.formbtn {
  width: max-content;
  display: inline-block;

  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid #4db5ff;
  transition: var(--transition);
  color: #4db5ff;
  background-color: transparent;
}
/* media quries (medium)*/

@media screen and (max-width: 1024px) {
  .contact_container.container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* media quries (small)*/

@media screen and (max-width: 600px) {
  .contact_container.container {
    width: var(--container-width-sm);
    gap: 2rem;
  }
}
